/* @charset="UTF-8"; */
*{
	padding: 0;
	margin: 0;
}
#container{
	margin: 0 auto;
	width: 857px;
}
#wrap_top{
  width:857px;
  height: 26px;
  background: url(images/register-top.gif) no-repeat;

}
#wrap_left{
  margin-top: 6px;
  float: left;
  width:3px ;
  height:450px ;
  background: url(images/register-line.gif) repeat-y;
}
#wrap_right{
  float: right;
  margin-top:6px;
  width:3px ;
  height: 450px;
  background: url(images/register-line.gif) repeat-y;
}
#wrap_bottom{
  width:857px;
  height: 26px;
  background: url(images/register-bottom.gif);

}
.clear{
  clear:both;
}
p{
  margin: 30px 0px 0px 40px;
}
#content{
  margin: 20px 0px 0px 40px;
}
#content div{
  margin-bottom:4px;
}
#content div img{
  margin: 0px 20px 0px;
}
